::scrollbar element {
  width:10px;
}

::-webkit-scrollbar {
    height: 10px;
}

.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  -webkit-user-select:none;
}

div.header, span.katex {
  -webkit-user-select:none;
  /*cursor:default;*/
}


div.header, div#BottomBar > div > span.katex {
  cursor:default;
}


div.dropdown {
  cursor: pointer
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input {
  -webkit-app-region: no-drag;
}

div.CodeMirror-vscrollbar{
  -webkit-app-region: no-drag;
}

div.CodeMirror-code{
  -webkit-app-region: no-drag;
}

#BottomBar div {
  display: inline-block;
}


/*#ProofTree {
  width: 100%;
  background-color: cyan; 
}*/

.scroll{
  overflow: auto;
  width: 100%;
  height: calc(100vh - 130px);
  white-space:nowrap;
}

#ProofTree {
  margin: 0 auto;
  margin-top: 10px;
  /*position: relative;*/
  /*float: none;*/
  display: table;
  /*left: 0; right: 0;*/
  /*background: red;*/
  /*overflow-x: scroll;*/
}
/*#ProofTree > div {
  margin: 0 auto;
  display: inline-block;
}*/

#mainMenu {
  margin-top: 10px;
  margin-left: 95px;
}

@font-face {
  font-family: 'Fira Code';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/FiraCode-Regular.eot');
  src: url('./fonts/FiraCode-Regular.eot') format('embedded-opentype'),
       url('./fonts/FiraCode-Regular.otf') format('opentype'),
       url('./fonts/FiraCode-Regular.woff') format('woff'),
       url('./fonts/FiraCode-Regular.woff2') format('woff2'),
       url('./fonts/FiraCode-Regular.ttf') format('truetype');
}