.codeArea {
	border: 1px solid rgba(34,36,38,.15);
    border-radius: 5px;

}

.codeArea > div {
    border-radius: 4px;
    font-family: 'Fira Code';
    -webkit-font-feature-settings: "liga" on, "calt" on;
  	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizeLegibility;
    /*border-top-left-radius: 4px;*/
        height: calc(50vh - 115px);
    min-height: 200px;
}

.codeArea > div > div:first-child {
    border-radius: 4px;
}

.CodeMirror-scroll {
    border-radius: 4px;
}